body {font-family: arial; 
    font-size: 20px; 
    font-variant: normal; 
    font-style: normal; 
    letter-spacing: normal; 
    text-align: justify;
    background-image: url(abstract-geometric-pattern-background_1319-242.jpg) no-repeat cover;
}
        
h1{color:black; text-align: center;}
        
p {line-height: 1.6em; color: black;
    
        }

a {text-decoration: none;}

.p1 {
    background-color: aqua;
    font-family: arial;
}
.p2 {
    font-family: times new roman;
}

body.profil{
    font-family:time new roman;
    text-transform:uppercase;
    font-style: normal;
    background-color: blanchedalmond;


}